
<p>List of All Articles </p>
<<<<<<< HEAD
<ul> <% @articles.each do |article| %>
  <li> <%= article.title %></li>
=======
<ul> <%= @articles.each do |article| %>
  <li> <%= article %></li>
>>>>>>> 0e53a1dcfdbf13685fcfc6d94cfab18f0ae7d68e
  <% end %>
</ul>
